@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.header {
    height: 400px;
    background-image: url('./files/coffee-bgnd.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    color: rgba(3, 150, 100, 0.75);
    padding-top: 133px;
}

.main {
    position: relative;
}

.left, .right {
    position: absolute;
    width: 48%;
    top: 15px;
    /* 
        top
        right
        bottom
        left
    */
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}